gx-le-tool-bar {
  display: flex;
  pointer-events: all;
  --bar-padding: 5px;

  & .bar {
    display: flex;
    align-items: stretch;
    background-color: var(--gx-le-tool-bar-background-color, #00a2ff);
    padding: var(--bar-padding);
    & > .identity {
      --gx-le-tool-identity-type-name-font-family: var(
        --gx-le-tool-bar-type-name-font-family,
        initial
      );
      --gx-le-tool-identity-type-name-font-size: var(
        --gx-le-tool-bar-type-name-font-size,
        initial
      );
      --gx-le-tool-identity-type-name-font-style: var(
        --gx-le-tool-bar-type-name-font-style,
        initial
      );
      --gx-le-tool-identity-type-name-font-weight: var(
        --gx-le-tool-bar-type-name-font-weight,
        initial
      );
      --gx-le-tool-identity-type-name-text-decoration: var(
        --gx-le-tool-bar-type-name-text-decoration,
        initial
      );
      --gx-le-tool-identity-type-name-color: var(
        --gx-le-tool-bar-type-name-color,
        white
      );
      --gx-le-tool-identity-name-font-family: var(
        --gx-le-tool-bar-name-font-family,
        initial
      );
      --gx-le-tool-identity-name-font-size: var(
        --gx-le-tool-bar-name-font-size,
        initial
      );
      --gx-le-tool-identity-name-font-style: var(
        --gx-le-tool-bar-name-font-style,
        initial
      );
      --gx-le-tool-identity-name-font-weight: var(
        --gx-le-tool-bar-name-font-weight,
        initial
      );
      --gx-le-tool-identity-name-text-decoration: var(
        --gx-le-tool-bar-name-text-decoration,
        initial
      );
      --gx-le-tool-identity-name-color: var(
        --gx-le-tool-bar-name-color,
        lightgray
      );
    }
    & .buttons {
      display: flex;
      margin: 0;
      margin-left: 35px;
      padding: 0;
      list-style: none;
      & li {
        display: flex;
        align-items: center;
        margin-right: 5px;
        &:last-child {
          margin-right: 0px;
        }
      }
      & button {
        width: 24px;
        height: 24px;
        border: none;
        margin: 0;
        padding: 0;
        background-color: white;
      }
      & .info {
        & button {
          -webkit-mask-image: url("assets/images/tool-bar-info.svg");
          mask-image: url("assets/images/tool-bar-info.svg");
        }
      }
      & .task {
        & button {
          -webkit-mask-image: url("assets/images/tool-bar-task.svg");
          mask-image: url("assets/images/tool-bar-task.svg");
        }
      }
      & .select {
        position: relative;
        & button {
          -webkit-mask-image: url("assets/images/tool-bar-select.svg");
          mask-image: url("assets/images/tool-bar-select.svg");
        }
        & .breadcrumb-container {
          display: none;
          position: absolute;
          right: 0px;
          bottom: 100%;
          margin-right: calc(var(--bar-padding) * -1);
          padding-bottom: var(--bar-padding);
        }
        &:hover > .breadcrumb-container {
          display: block;
        }
      }
    }
  }
  & .arrow {
    width: 10px;
    height: 10px;
  }
  &.location-outside-top {
    flex-direction: column;
    & .bar {
      order: 1;
    }
    & .arrow {
      order: 2;
      background-image: linear-gradient(
        135deg,
        var(--gx-le-tool-bar-background-color, #00a2ff),
        var(--gx-le-tool-bar-background-color, #00a2ff) 50%,
        transparent 50%,
        transparent
      );
    }
  }
  &.location-outside-right {
    flex-direction: row;
    & .bar {
      order: 2;
    }
    & .arrow {
      order: 1;
      background-image: linear-gradient(
        -135deg,
        var(--gx-le-tool-bar-background-color, #00a2ff),
        var(--gx-le-tool-bar-background-color, #00a2ff) 50%,
        transparent 50%,
        transparent
      );
    }
  }
  &.location-outside-bottom {
    flex-direction: column;
    & .bar {
      order: 2;
    }
    & .arrow {
      order: 1;
      background-image: linear-gradient(
        45deg,
        var(--gx-le-tool-bar-background-color, #00a2ff),
        var(--gx-le-tool-bar-background-color, #00a2ff) 50%,
        transparent 50%,
        transparent
      );
    }
  }
  &.location-outside-left {
    flex-direction: row;
    & .bar {
      order: 1;
    }
    & .arrow {
      order: 2;
      background-image: linear-gradient(
        135deg,
        var(--gx-le-tool-bar-background-color, #00a2ff),
        var(--gx-le-tool-bar-background-color, #00a2ff) 50%,
        transparent 50%,
        transparent
      );
    }
  }
  &.location-inside-sticky {
    flex-direction: column;
    & .bar {
      order: 2;
    }
    & .arrow {
      order: 1;
      background-image: linear-gradient(
        45deg,
        var(--gx-le-tool-bar-background-color, #00a2ff),
        var(--gx-le-tool-bar-background-color, #00a2ff) 50%,
        transparent 50%,
        transparent
      );
    }
  }
  &.location-none {
    display: none;
  }
}
