gx-layout-editor-placeholder {
  display: flex;
}

gx-layout-editor[data-gx-le-dragging] {
  gx-layout-editor-placeholder {
    &::before {
      content: "";
      position: relative;
      height: var(--gx-le-table-placeholder-height);
      width: 100%;
      display: block;
    }
  }
}
