gx-layout-editor-sample {
  --primary-color: #178df7;
  --secondary-color: #55d6be;
  --danger-color: #ed1c24;
  --warning-color: #ffa600;
  --light-color: #dffffc;
  --dark-color: #2a2d34;
  --font-family: "Arial";

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;

  & > .hidden {
    display: none !important;
  }

  & > form {
    gx-edit {
      flex-grow: 1;
      height: calc(100vh - 150px);
      margin: 15px 0;
      textarea {
        height: 100%;
      }
    }
  }

  .le-test-button {
    margin: 0 5px;
  }

  #options-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #btn-load-model {
    button {
      background-color: var(--primary-color);
      color: white;
    }
  }

  #btn-reset-model {
    button {
      background-color: var(--danger-color);
      color: white;
    }
  }

  gx-layout-editor {
    margin: 15px 0;
    --gx-le-control-header-bar-background-color: var(--primary-color);
    --gx-le-control-header-bar-font-size: 11px;
    --gx-le-control-header-bar-color: white;
    --gx-le-table-cell-border: 1px dashed var(--primary-color);
    --gx-le-table-cell-gap: 1px;
    --gx-le-table-min-height: 100px;
    --gx-le-table-cell-min-height: 80px;
    --gx-le-table-placeholder-color: var(--primary-color);
    --gx-le-table-placeholder-height: 4px;
    --gx-le-table-placeholder-width: 4px;
    --gx-le-form-field-color: var(--dark-color);
    --gx-le-empty-min-height: 100vh;
    --gx-le-tool-selection-color: var(--primary-color);
    --gx-le-tool-dimension-background-color: var(--primary-color);
    --gx-le-tool-dimension-font-family: var(--font-family);
    --gx-le-tool-dimension-font-size: 12px;
    --gx-le-tool-dimension-color: var(--light-color);

    &.preview {
      --gx-le-table-cell-border: unset;
      --gx-le-table-cell-gap: unset;
      --gx-le-table-min-height: unset;
      --gx-le-table-cell-min-height: unset;
      --gx-le-table-placeholder-color: unset;
      --gx-le-table-placeholder-width: unset;
      --gx-le-table-placeholder-height: unset;
    }
  }
}
