@import "../layout-editor/layout-editor-common.scss";

gx-le-simple-grid {
  @include common-control-wrapper();

  & > div {
    flex-grow: 1;
  }

  // Hide container's anchor icon
  & [data-gx-le-control-header-bar] > table {
    &[data-gx-le-container-empty="true"] {
      min-width: 300px;
    }
  }

  td[data-gx-le-drop-area] {
    min-height: 1px;

    .form-group {
      margin-bottom: 0;
    }
  }

  table[data-gx-le-container] {
    min-height: 1px;
  }

  gx-le-data {
    display: flex;
  }
}
