gx-le-tool-breadcrumb {
  display: block;

  & .list {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    & .item {
      cursor: pointer;
      background-color: var(--color-primary-enabled);
      padding: 5px;
    }
  }
  &.location-top .list {
    flex-direction: column-reverse;
    & .item {
      margin-bottom: 2px;
    }
  }
  &.location-bottom .list {
    flex-direction: column;
    & .item {
      margin-top: 2px;
    }
  }
}
