@mixin common-control-wrapper() {
  gx-layout-editor.preview & {
    display: contents;

    /**
    * Workaround. Chrome not render childs of element with display:contents when
    * have visibility:inherits on childs.
    */
    visibility: inherit;
  }
  gx-layout-editor:not(.preview) & {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    /**
    * Workaround. height: 100% not work if parent height can only min-height setted.
    */
    min-height: inherit;
  }
  gx-layout-editor:not(.preview) > & {
    height: unset;
    min-height: unset;
  }
}

@mixin common-control-cell() {
  & [data-gx-le-cell-id] {
    align-items: flex-start;
  }
}
