@import "../../../node_modules/@genexus/web-controls-library/dist/theming/theming-mixins.scss";
@import "../layout-editor-tool/layout-editor-tool-arrange/layout-editor-tool-arrange.scss";
@import "./layout-editor-abstract-view.scss";

@mixin empty-outermost-container {
  & > [data-gx-le-container-empty="true"] {
    min-height: var(--gx-le-empty-min-height, 100vh);
  }
}

@mixin containers-defaults {
  [data-gx-le-container] {
    min-height: var(--gx-le-table-min-height);

    &[data-gx-le-container-empty="true"] {
      grid-template-rows: 1fr !important;
    }

    &[data-gx-le-highlighted-container] {
      position: relative;
    }
  }

  & > [data-gx-le-container]:hover:after {
    display: none;
  }
}

@mixin drop-area {
  [data-gx-le-drop-area] {
    min-height: var(--gx-le-table-cell-min-height);

    [data-gx-le-transit-element] {
      pointer-events: none;
    }

    &[data-gx-le-active-target="empty"] {
      background-color: var(--gx-le-table-placeholder-color);
    }

    &[data-gx-le-active-target="left"] {
      [data-gx-le-transit-element] {
        left: 0px;
      }
    }

    &[data-gx-le-active-target="right"] {
      [data-gx-le-transit-element] {
        right: 0px;
      }
    }

    &[data-gx-le-active-target="top"] {
      [data-gx-le-transit-element] {
        top: 0px;
      }
    }

    &[data-gx-le-active-target="bottom"] {
      [data-gx-le-transit-element] {
        bottom: 0px;
      }
    }

    &[data-gx-le-active-target="empty"] {
      [data-gx-le-transit-element] {
        visibility: hidden;
      }
    }

    &[data-gx-le-active-target]:not([data-gx-le-active-target="empty"]) {
      position: relative;

      [data-gx-le-transit-element] {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        visibility: visible;

        &:before {
          background-color: var(--gx-le-table-placeholder-color);
          content: " ";
          position: absolute;
          z-index: 1;
        }
      }
    }

    &[data-gx-le-active-target][data-gx-le-active-target="left"],
    &[data-gx-le-active-target][data-gx-le-active-target="right"] {
      [data-gx-le-transit-element] {
        top: 0;
        width: 0px;
        height: 100%;
        padding-left: var(--gx-le-table-placeholder-width);

        &:before {
          width: var(--gx-le-table-placeholder-width);
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }

    &[data-gx-le-active-target][data-gx-le-active-target="top"],
    &[data-gx-le-active-target][data-gx-le-active-target="bottom"] {
      [data-gx-le-transit-element] {
        width: 100%;
        left: 0;
        height: 0;
        padding-top: var(--gx-le-table-placeholder-width);

        &:before {
          width: 100%;
          height: var(--gx-le-table-placeholder-width);
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

%box-sizing-props {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-sizing {
  @extend %box-sizing-props;

  [data-gx-le-placeholder],
  [data-gx-le-drop-area] {
    @extend %box-sizing-props;

    &::after,
    &::before {
      @extend %box-sizing-props;
    }
  }
}

@mixin ghost {
  .ghost {
    max-width: 100px;
  }
}

@mixin control-header-bar {
  [data-gx-le-control-header-bar]::before {
    display: block;
    content: var(--gx-le-control-header-bar-text);
    background-color: var(--gx-le-control-header-bar-background-color);
    font-size: var(--gx-le-control-header-bar-font-size);
    color: var(--gx-le-control-header-bar-color);
    padding: 1px 4px;
    text-transform: uppercase;
  }
}

@mixin active-placeholder {
  [data-gx-le-placeholder][data-gx-le-active-target] {
    background-color: var(--gx-le-table-placeholder-color);
    & > * {
      display: none;
    }
  }

  [data-gx-le-container-empty="true"] > [data-gx-le-placeholder] {
    height: 100%;
  }
}

@mixin default-control-render {
  [data-gx-le-default-render] {
    white-space: nowrap;
  }
}

@mixin controls-customization {
  %default-field {
    color: var(--gx-le-form-field-color);
  }
  %default-field-label {
    overflow: hidden;
  }

  @include gx-form-field(
    $class: "%default-field",
    $label: "%default-field-label"
  );

  [data-gx-le-responsive-table-cell] > [data-gx-le-container],
  [data-gx-le-flex-table] > gx-layout-editor-placeholder {
    flex-grow: 1;
  }
}

@mixin main-table-defaults {
  & > gx-le-tabular-table {
    & > gx-table {
      min-width: fit-content;
    }
  }
}

gx-layout-editor {
  display: block;
  position: relative;

  @include active-placeholder();

  @include box-sizing();

  @include empty-outermost-container();

  @include containers-defaults();

  @include drop-area();

  @include ghost();

  @include control-header-bar();

  @include default-control-render();

  @include controls-customization();

  @include main-table-defaults();

  @include layout-editor-tool-arrange();

  @include layout-editor-abstract-view();
}
